<!-- Inner Section -->
<div class="inner_content">
    <div class="container ">
        <div class="row">
            <!--  page header -->
            <div class="col-md-12">
                <h1 class="text-center">Upload Scanned Signatured HR Form</h1>
                <div class="separator text-center"><span class="dott"></span><span class="dott"></span><span class="dott"></span></div>
                <div class="clearfix"></div>
            </div>
            <!-- end page header -->
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="content-area">
                    <div id="main">
                        <div class="form-bg">
                            <form class="form-validate" role="form" #candidateForm="ngForm" (ngSubmit)="addUser(candidateForm)">
                                <div class="form-group file_upload col-md-4 col-sm-4 col-md-offset-4">
                                    <label><span>*</span>Upload Scannned PDF</label>
                                    <input type="text" disabled class="form-control" />
                                   <!-- use for show only pdf= accept="application/pdf" -->
                                    <input type="file" class="form-control" accept="application/pdf" name="Faviconicon" id="Favicon" #Faviconicon="ngModel"
                                        [(ngModel)]="candidateEntity.Faviconicon"  required />

                                        <span class="error_span" *ngIf="(Faviconicon.dirty && Faviconicon.invalid) || (Faviconicon.pristine && submitted)">
											<span *ngIf="Faviconicon.errors && Faviconicon.errors.required">
												Please input pdf file
											</span>

											<span *ngIf="Faviconicon.errors && Faviconicon.errors.pattern">
												Please input valid file
											</span>
										</span>

                                </div>
                                <div class="clearfix"></div>
                                <div class="col-lg-12 text-center">
                                        <button type="submit" class="lgn_btn"><span>Submit</span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<!-- End Inner Section -->