<!-- Inner Section -->
<!-- <div class="inner_banner">
    <img src="assets/images/inner_banner.jpg" alt="" class="img-responsive" />
    <div class="innerbanner_text">HR QUESTIONNAIRE<span><a>List of Candidates</a></span></div>
</div>
<div class="clearfix"></div> -->
<!-- End Inner Section -->
<!--  page-wrapper -->
<div id="page-wrapper">

    <div class="row">
      <!--  page header -->
      <div class="col-lg-12">
	  <div class="breadcrumb_block">
		<div class="col-md-6 col-sm-6 col-xs-12">
			<div class="page_heading">
				<h1>List of Candidates</h1>
			</div>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-12 text-right">
			<ol class="breadcrumb">
			  <!-- <li class="breadcrumb-item  active"><a href="#">List of Candidates</a></li> -->
			  <!-- <li class="breadcrumb-item"><a href="#">Library</a></li>
			  <li class="breadcrumb-item active">Data</li> -->
			</ol>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
	  </div>
        <!-- <h1 class="page-header text-center">List of Candidates</h1>
		<div class="separator text-center"><span class="dott"></span><span class="dott"></span><span class="dott"></span></div> -->
        <div class="btn-group pull-right add-right">
          <!-- <a routerLink="/admin/home" class="lgn_btn">
            Go to Home
            </a> -->
        </div>
        <div class="clearfix"></div>
      </div>
      <!-- end  page header -->
    </div>
    <div class="alert alert-{{globals.type}}" role="alert" *ngIf="globals.msgflag">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span>
      </button>
      {{globals.message}}
    </div>
    <div class="row">
      <div class="col-lg-12">
	  
        <!-- Advanced Tables -->
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTables-example">
                <thead>
                  <tr>
                    <th style="width:1%;">#</th>
                    <th style="width:8%;">Candidate Name</th>
                    <th style="width:9%;">Candidate Email</th>
                    <th style="width:7%;">Contact Number</th>
                    <th style="width:9%;">Applied for</th>
                    <th style="width:5%;">Signatured HR Questionnaire Form Status</th>
                    <th style="width:7%;">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let candidate of candidateList; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{candidate.CandidateName}}</td>
                    <td>{{candidate.CandidateEmail}}</td>
                    <td>{{candidate.PhoneNumber}}</td>
                    <td>{{candidate.JobPositionName}}</td>
                    <td *ngIf="candidate.CandidateHrForm!=''">Uploaded <a href="assets/candidate/{{candidate.JobPositionName.replace(' ','_').replace(' ','_').replace(' ','_').replace(' ','_').replace(' ','_').replace(' ','_').replace(' ','_').replace(' ','_').replace(' ','_').replace(' ','_').replace(' ','_').replace(' ','_').replace(' ','_').replace(' ','_')}}/{{candidate.CandidateHrForm}}" Download><span class="fa fa-download tooltip_inline" data-placement="bottom" title="Download uploaded Scannned PDF of HR Questionnaire Form"></span></a></td>
                    <td *ngIf="candidate.CandidateHrForm==''">Not Uploaded</td>
                    <td>
                      <div class="inline_delbtn tooltip_inline" data-placement="bottom" title="Print HR Questionnaire Form">
                        <button class="btn btn-suucess btn-rounded btn-sm edit-user-row-with-ajax-button" (click)="printForm(candidate.CandidateId)"><i
                            class="fa fa-print"></i></button>
                      </div>
                      <div class="inline_delbtn tooltip_inline" data-placement="bottom" title="View HR Questionnaire Form">
                        <button class="btn btn-suucess btn-rounded btn-sm edit-user-row-with-ajax-button" (click)="previewForm(candidate.CandidateId)"><span
                            class="fa fa-eye"></span></button>
                      </div>
                      <div class="inline_delbtn tooltip_inline" data-placement="bottom" title="Upload Scannned PDF of HR Questionnaire Form">
                        <button class="btn btn-suucess btn-rounded btn-sm edit-user-row-with-ajax-button" (click)="uploadFile(candidate.CandidateId)"><span
                            class="fa fa-upload"></span></button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
		
        <!--End Advanced Tables -->
      </div>
    </div>

</div>
<!-- end page-wrapper -->

<!-- upoad pdf file start -->

<div class="modal fade bs-example-modal-sm" id="Upload_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form class="form-validate" role="form" #candidateForm="ngForm" (ngSubmit)="addUser(candidateForm)">
          <div class="form-group file_upload col-md-8 col-sm-8 col-md-offset-2">
            <label><span>*</span>Upload Scannned PDF of HR Questionnaire Form</label>
            <input type="text" disabled class="form-control" />
            <!-- use for show only pdf= accept="application/pdf" -->
            <input type="file" class="form-control" accept="application/pdf" name="Faviconicon" id="Favicon"
              #Faviconicon="ngModel" [(ngModel)]="candidateEntity.Faviconicon" required />
            <span class="error_span" *ngIf="(Faviconicon.dirty && Faviconicon.invalid) || (Faviconicon.pristine && submitted)">
              <span *ngIf="Faviconicon.errors && Faviconicon.errors.required">
                Please input pdf file
              </span>
              <span *ngIf="Faviconicon.errors && Faviconicon.errors.pattern">
                Please input valid file
              </span>
            </span>
          </div>
          <div class="clearfix"></div>
          <div class="col-lg-12 text-center">
            <button type="submit" class="lgn_btn"><span>Submit</span></button>
            <button type="button" class="lgn_btn" data-dismiss="modal"><span>Cancel</span></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- upoad pdf file end -->

  <!-- Print Form Start -->
<div id="printSectionId" style="display:none">
  <!-- New Inner Section -->

  <table style="width:100%; margin: 10px auto 60px;">
    <tbody>
      <tr>
        <td style="text-align:left; width:50%; vertical-align: middle;">
          <img src="/assets/images/OSSlogo.png" style="height:150px; width: 150px">
        </td>
        <td style="text-align:right; width:50%;">
          <p style="font-size:17px; font-family: 'Titillium Web', sans-serif;color:#111;">
            <span style="font-size:25px; font-weight:600;">OpenEyes Software Solutions Pvt. Ltd (OPC)</span><br>
            <span style="font-size:20px; font-weight:600;">Corporate office</span><br>
            Suite #405, 4th Floor, Iscon Atria 1,<br>
            Gotri Road, Vadodara – 390021<br>
            Gujarat – India
          </p>
        </td>
      </tr>
    </tbody>
  </table>

  <h1 class="text-center" style="text-align: center;font-size: 45px;line-height: 35px;font-weight: 300;margin: 0 0 15px 0;color: #222;font-family: 'Titillium Web', sans-serif;text-transform: uppercase;">HR
    Questionnaire</h1>
  <div class="table-responsive" style="width: 1000px;margin: 30px auto;">
    <table class="table" style="width: 100%; margin:20px 0 0 0">
      <tbody>
        <tr>
          <td style="border: 1px solid #222;">
            <h1 class="text-center" style="text-align: center;font-size: 25px;line-height: 35px;font-weight: 300;margin: 5px 0;color: #222;font-family: 'Titillium Web', sans-serif;text-transform: uppercase;">Candidate
              Detail</h1>
          </td>
        </tr>
        <tr>
          <td>
            <p style="font-size: 16px;margin: 15px 0px 0px 0px;line-height: 25px;font-family: 'Titillium Web', sans-serif;color:#111;">
              Candidate Name:<strong> {{candidateData.CandidateName}} </strong></p>
          </td>
        </tr>
        <tr>
          <td>
            <p style="font-size: 16px;margin: 0px 0px 0px 0px;line-height: 25px;font-family: 'Titillium Web', sans-serif;color: #111;">
              Email Address:<strong> {{candidateData.CandidateEmail}} </strong></p>
          </td>
        </tr>
        <tr>
          <td>
            <p style="font-size: 16px;margin: 0px 0px 0px 0px;line-height: 25px;font-family: 'Titillium Web', sans-serif;color: #111;">
              Contact Number:<strong> {{candidateData.PhoneNumber}} </strong></p>
          </td>
        </tr>
        <tr>
          <td>
            <p style="font-size: 16px;margin: 0px 0px 0px 0px;line-height: 25px;font-family: 'Titillium Web', sans-serif;color: #111;">
              Applied for:<strong> {{candidateData.JobPositionName}} </strong></p>
          </td>
        </tr>
        <tr>
          <td>
            <p style="font-size: 16px;margin: 0px 0px 15px 0px;line-height: 25px;font-family: 'Titillium Web', sans-serif;color: #111;">
              Submitted Date:<strong> {{candidateData.CreatedOn | date: 'MM/dd/yyyy'}} </strong></p>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="table" style="width: 100%;">
      <tbody>
        <tr>
          <td style="border: 1px solid #222;">
            <h1 class="text-center" style="text-align: center;font-size: 25px;line-height: 35px;font-weight: 300;margin: 5px 0 ;color: #222;font-family: 'Titillium Web', sans-serif;text-transform: uppercase;">Questions</h1>
          </td>
        </tr>
        <div *ngFor="let que of questionList;  let i = index">
          <tr style="padding: 10px 0px;display: block;border-bottom:1px solid #222;">
            <td>
              <p style="font-size: 16px;margin: 0px 0px 0px 0px;line-height: 25px;font-family: 'Titillium Web', sans-serif;color: #111;">
                <strong> Question #{{i+1}} </strong> <br> <span [innerHTML]="que.QuestionName"></span></p>
              <!-- For Radio Button -->
              <div *ngIf="que.AnswerTypeId==1">
                <div *ngFor="let ans of que.child;">
                  <p style="display:inline-block;line-height: 20px;color: #111;font-size: 14px;font-family: 'Titillium Web', sans-serif;font-weight: normal; margin:0px;margin-top:5px;">
                    <strong> {{ans.CAnswer}} </strong> </p>
                </div>
              </div>
              <!-- For Multiple Text Box -->
              <div *ngIf="que.AnswerTypeId==2">
                <div *ngFor="let ans of que.child;">
                  <p style="display:inline-block;line-height: 20px;color: #111;font-size: 14px;font-family: 'Titillium Web', sans-serif;font-weight: normal; margin:0px;margin-top:10px;">
                    {{ans.QLabel}}: <strong> {{ans.CAnswer}} </strong> </p>
                </div>
              </div>
              <!-- For Single Text Box -->
              <div *ngIf="que.AnswerTypeId==3">
                <div *ngFor="let ans of que.child;">
                  <p style="display:inline-block;line-height: 20px;color: #111;font-size: 14px;font-family: 'Titillium Web', sans-serif;font-weight: normal; margin:0px;margin-top:10px;">
                    {{ans.QLabel}} <br> <strong> {{ans.CAnswer}} </strong> </p>
                </div>
              </div>
            </td>
          </tr>
        </div>
      </tbody>
    </table>
    <table class="table" style="width: 100%; margin:30px auto">
      <tbody>
        <tr>
          <td colspan="5" style="border: 1px solid #222;">
            <h1 class="text-center" style="text-align: center;font-size: 25px;line-height: 35px;font-weight: 300;margin: 5px 0;color: #222;font-family: 'Titillium Web', sans-serif;text-transform: uppercase;">Consent</h1>
          </td>
        </tr>
        <tr>
          <td colspan="5">
            <p style="display:inline-block;line-height: 20px;color: #111;font-size: 16px;font-family: 'Titillium Web', sans-serif;font-weight: normal; margin:20px 0px 80px 0px;">I
              hereby certify that the above statements are true and correct to the best of my knowledge. I understand
              that a false statement may disqualify me for the position at any time.</p>
          </td>
        </tr>
        <tr>
          <td width="15%"></td>
          <td width="25%" style="text-align:center; border-top: 1px #111 solid">
            <p style="display:inline-block;line-height: 15px;color: #111;font-size: 14px;font-family: 'Titillium Web', sans-serif;font-weight: normal; margin:0px;margin-top:10px;">{{candidateData.CandidateName}}</p>
          </td>
          <td width="20%"></td>
          <td width="25%" style="text-align:center; border-top: 1px #111 solid;">
            <p style="display:inline-block;line-height: 15px;color: #111;font-size: 14px;font-family: 'Titillium Web', sans-serif;font-weight: normal; margin:0px;margin-top:10px;">Date</p>
          </td>
          <td width="15%"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- New End Inner Section -->
</div>
<!-- Print Fprm End -->

<!-- View preview Start -->
<div class="modal fade bs-example-modal-md" id="Delete_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h1 class="text-center" style="text-align: center;font-size: 35px;line-height: 35px;font-weight: 300;margin: 0 0 15px 0;color: #222;font-family: 'Titillium Web', sans-serif;text-transform: uppercase;">HR
          Questionnaire</h1>
        <div  style="margin: 0 auto;">
          <table class="table" style="width: 100%; margin:30px 0 0 0">
            <tbody>
              <tr>
                <td style="border: 1px solid #222;">
                  <h1 class="text-center" style="text-align: center;font-size: 25px;line-height: 35px;font-weight: 300;margin: 5px 0;color: #222;font-family: 'Titillium Web', sans-serif;text-transform: uppercase;">Candidate
                    Detail</h1>
                </td>
              </tr>
              <tr>
                <td style="border:0px;">
                  <p style="font-size: 16px;margin: 15px 0px 0px 0px;line-height: 25px;font-family: 'Titillium Web', sans-serif;color:#111;">
                    Candidate Name:<strong> {{candidateData.CandidateName}} </strong></p>
                </td>
              </tr>
              <tr>
                <td style="border:0px;">
                  <p style="font-size: 16px;margin: 0px 0px 0px 0px;line-height: 25px;font-family: 'Titillium Web', sans-serif;color: #111;">
                    Email Address:<strong> {{candidateData.CandidateEmail}} </strong></p>
                </td>
              </tr>
              <tr>
                <td style="border:0px;">
                  <p style="font-size: 16px;margin: 0px 0px 0px 0px;line-height: 25px;font-family: 'Titillium Web', sans-serif;color: #111;">
                    Contact Number:<strong> {{candidateData.PhoneNumber}} </strong></p>
                </td>
              </tr>
              <tr>
                <td style="border:0px;">
                  <p style="font-size: 16px;margin: 0px 0px 0px 0px;line-height: 25px;font-family: 'Titillium Web', sans-serif;color: #111;">
                    Applied for:<strong> {{candidateData.JobPositionName}} </strong></p>
                </td>
              </tr>
              <tr>
                <td style="border:0px;">
                  <p style="font-size: 16px;margin: 0px 0px 15px 0px;line-height: 25px;font-family: 'Titillium Web', sans-serif;color: #111;">
                    Submitted Date:<strong> {{candidateData.CreatedOn | date: 'MM/dd/yyyy'}} </strong></p>
                </td>
              </tr>
            </tbody>
          </table>
          <table class="table" style="width: 100%;">
            <tbody>
              <tr>
                <td style="border: 1px solid #222;">
                  <h1 class="text-center" style="text-align: center;font-size: 25px;line-height: 35px;font-weight: 300;margin: 5px 0 ;color: #222;font-family: 'Titillium Web', sans-serif;text-transform: uppercase;">Questions</h1>
                </td>
              </tr>
              <div *ngFor="let que of questionList;  let i = index">
                <tr style="padding: 10px 0px;display: block;">
                  <td style="border:0px;">
                    <p style="font-size: 16px;margin: 0px 0px 0px 0px;line-height: 25px;font-family: 'Titillium Web', sans-serif;color: #111;">
                      <strong> Question #{{i+1}} </strong> <br> <span [innerHTML]="que.QuestionName"></span></p>
                    <!-- For Radio Button -->
                    <div *ngIf="que.AnswerTypeId==1">
                      <div *ngFor="let ans of que.child;">
                        <p style="display:inline-block;line-height: 20px;color: #111;font-size: 14px;font-family: 'Titillium Web', sans-serif;font-weight: normal; margin:0px;margin-top:5px;">
                          <strong> {{ans.CAnswer}} </strong> </p>
                      </div>
                    </div>
                    <!-- For Multiple Text Box -->
                    <div *ngIf="que.AnswerTypeId==2">
                      <div *ngFor="let ans of que.child;">
                        <p style="display:inline-block;line-height: 20px;color: #111;font-size: 14px;font-family: 'Titillium Web', sans-serif;font-weight: normal; margin:0px;margin-top:10px;">
                          {{ans.QLabel}}: <strong> {{ans.CAnswer}} </strong> </p>
                      </div>
                    </div>
                    <!-- For Single Text Box -->
                    <div *ngIf="que.AnswerTypeId==3">
                      <div *ngFor="let ans of que.child;">
                        <p style="display:inline-block;line-height: 20px;color: #111;font-size: 14px;font-family: 'Titillium Web', sans-serif;font-weight: normal; margin:0px;margin-top:10px;">
                          {{ans.QLabel}} <br> <strong> {{ans.CAnswer}} </strong> </p>
                      </div>
                    </div>
                  </td>
				  <hr>
                </tr>
              </div>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer text-center">
        <!-- <div class="inline_delbtn tooltip_inline" data-placement="bottom"  title="Download" > 
                <button class="btn btn-primary btn-rounded btn-sm edit-user-row-with-ajax-button" (click)="downloadPDF()" ><i class="fa fa-download" style="font-size:20px"></i></button>
              </div> -->
        <div class="inline_delbtn">
          <button type="button" class="btn btn-rounded btn-danger btn-sm" data-dismiss="modal"><i class="fa fa-times"
              style="font-size:20px"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- View preview end -->