<!-- Inner Section -->
<!-- <div class="inner_banner">
    <img src="assets/images/inner_banner.jpg" alt="" class="img-responsive" />
    <div class="innerbanner_text">HR QUESTIONNAIRE<span><a routerLink="/admin/candidate/list">Home</a> / <i>List of Questions</i></span></div>
</div>
<div class="clearfix"></div> -->
<!-- End Inner Section -->
<!--  page-wrapper -->
<div id="page-wrapper">
    
      <div class="row"> 
        <!--  page header -->
        <div class="col-lg-12">
          <!-- <h1 class="page-header pull-left">List of Questions</h1> -->
		  
		  <div class="breadcrumb_block">
		<div class="col-md-6 col-sm-6 col-xs-12">
			<div class="page_heading">
				<h1>List of Questions</h1>
			</div>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-12 text-right">
			<ol class="breadcrumb">
			  <li class="breadcrumb-item"><a routerLink="/admin/candidate/list">Home</a></li>
			  <li class="breadcrumb-item active">List of Questions</li>
			</ol>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
	  </div>
		  
		  
          <div class="btn-group pull-right add-right">
              <a routerLink="/admin/question/add" class="lgn_btn">
            Add a new Question
            </a>
          </div>
          <div class="clearfix"></div>
        </div>
        <!-- end  page header --> 
      </div>
      <div class="alert alert-{{globals.type}}" role="alert" *ngIf="globals.msgflag">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
        {{globals.message}}
      </div>
      <div class="row">
        <div class="col-lg-12">
		
          <!-- Advanced Tables -->
          <div class="panel panel-default">
          
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTables-example">
                  <thead>
                    <tr>
                      <th style="width:1%;">#</th>
                      <th style="width:30%;">Question</th>
                      <th style="width:4%;">Question Type</th>
                      <th style="width:2%;">Is Active?</th>
                      <th style="width:2%;">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let question of questionList; let i = index" >
                          <td>{{i+1}}</td>
                          <td><span [innerHTML]="question.QuestionName"></span></td>
                          <td>{{question.AnswerName}}</td>
                          <td *ngIf="question.IsActive=='1'">Yes</td>
                          <td *ngIf="question.IsActive=='0'">No</td>
                          
                          
                      <td>
                     
                        <!-- <div class="inline_delbtn tooltip_inline" data-placement="bottom"  title="Question can't be edited as it is already assigned to an active Candidate's profile" > 
                          <button *ngIf="question.isdisabled>0"  [disabled]="question.isdisabled>0" class="btn btn-default btn-rounded btn-sm"><span class="fa fa-pencil"></span></button>
                        </div> -->
                              
                        <div class="inline_delbtn tooltip_inline" data-placement="bottom"  title="Edit" > 
                            <button class="btn btn-default btn-rounded btn-sm" routerLink="/admin/question/edit/{{question.QuestionId}}" ><span class="fa fa-pencil"></span></button>
                        </div>

                        <div class="inline_delbtn tooltip_inline"  data-toggle="tooltip" data-placement="bottom" title="Question can't be deleted as it is already attended by Candidate." > 
                          <button *ngIf="question.isdisabled>0"  [disabled]="question.isdisabled>0" data-type="Record" class="btn btn-danger btn-rounded btn-sm delete-user-row-with-ajax-button"><span class="fa fa-times"></span></button>
                        </div> 

                        <div class="inline_delbtn tooltip_inline" data-placement="bottom"  title="Delete">  
                            <button  data-type="Record" *ngIf="question.isdisabled==0" class="btn btn-danger btn-rounded btn-sm delete-user-row-with-ajax-button" (click)="deleteQuestion(question)"><span class="fa fa-times"></span></button>
                          </div>

                      
                        
                      </td> 
                    </tr>
            
                  </tbody>
                </table>
              </div>
            </div>
          </div>
		
          <!--End Advanced Tables --> 
        </div>
      </div>
  
  </div>
  <!-- end page-wrapper --> 
