<!-- Inner Section -->
<div *ngIf="first1" class="inner_banner">
    <img src="assets/images/inner_banner.jpg" alt="" class="img-responsive" />
    <div class="innerbanner_text">HR QUESTIONNAIRE</div>
</div>
<div class="clearfix"></div>
<!-- End Inner Section -->
<!-- Inner Section -->
<!--     <div class="inner_content">
<div class="container ">
        <div class="row">
            <div class="col-md-12 col-sm-12"> -->
<div class="que_form">
    <form class="form-validate" role="form" #candidateForm="ngForm" (ngSubmit)="addUser(candidateForm)">


        <div class="container ">
            <div class="row">
                <div class="col-md-12 col-sm-12">
	  <div *ngIf="first1" class="content-area">
	   <div *ngIf="first1" id="main">
                    <div *ngIf="first1">
                                <h1 class="text-center">Your Information</h1>
                                <div class="separator text-center">
                                    <span class="dott"></span>
                                    <span class="dott"></span>
                                    <span class="dott"></span>
                                </div>
                                <div class="clearfix"></div>
                                <div class="ans_block">
                                    <div class="col-md-2 col-sm-2">
                                        <label class="pull-right mt-5">Your Name</label>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <div class="form-group">

                                            <input type="text" class="form-control" #CandidateName="ngModel"
                                                [(ngModel)]="candidateEntity.CandidateName" class="form-control" name="CandidateName"
                                                pattern="[a-zA-Z',&.$\ ]{2,100}" maxlength="100" [ngClass]="{red_border: (CandidateName.dirty && CandidateName.invalid) || (CandidateName.pristine && submitted)}"
                                                required />
                                            <span class="error_span" *ngIf="(CandidateName.dirty && CandidateName.invalid) || (CandidateName.pristine && submitted)">
                                                <span *ngIf="CandidateName.errors.required || (CandidateName.pristine && submitted)">Please
                                                    enter your name </span>
                                                <span *ngIf="CandidateName.errors && CandidateName.errors.pattern">Please
                                                    enter valid name</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <label class="pull-right mt-5">Applying For</label>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <div class="form-group">
                                            <select class='select-option' required class="form-control" #JobPositionId="ngModel"
                                                [(ngModel)]="candidateEntity.JobPositionId" name="JobPositionId"
                                                [ngClass]="{red_border: (JobPositionId.dirty && JobPositionId.invalid) || (JobPositionId.pristine && submitted)}">
                                                <option value="" ngSelected='candidateEntity.JobPositionId==""'>Select</option>
                                                <option class='option' *ngFor='let jobpo of jobpositionList' [value]="jobpo.JobPositionId">{{jobpo.JobPositionName}}</option>
                                            </select>
                                            <span class="error_span" *ngIf="(JobPositionId.dirty && JobPositionId.invalid) || (JobPositionId.pristine && submitted)">
                                                <span *ngIf="JobPositionId.errors.required || (JobPositionId.pristine && submitted)">Please
                                                    select job position </span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-2 col-sm-2">
                                        <label class="pull-right mt-5">Your Email</label>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <div class="form-group">
                                            <input type="email" class="form-control" #CandidateEmail="ngModel" name="CandidateEmail"
                                                pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
                                                [(ngModel)]="candidateEntity.CandidateEmail" [ngClass]="{red_border: (CandidateEmail.dirty && CandidateEmail.invalid) || (CandidateEmail.pristine && submitted)}"
                                                required />
                                            <span class="error_span" *ngIf="(CandidateEmail.dirty && CandidateEmail.invalid) || (CandidateEmail.pristine && submitted)">
                                                <span *ngIf="CandidateEmail.errors.required || (CandidateEmail.pristine && submitted)">Please
                                                    enter your email address </span>
                                            </span>
                                            <span class="error_span" *ngIf="CandidateEmail.errors && CandidateEmail.errors.pattern">
                                                Please enter valid email address
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <label class="pull-right mt-5">Your Contact Number</label>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" #PhoneNumber="ngModel" name="PhoneNumber"
                                                pattern="[0-9\-.()+\s]{3,13}" maxlength="13" [(ngModel)]="candidateEntity.PhoneNumber"
                                                [ngClass]="{red_border: (PhoneNumber.dirty && PhoneNumber.invalid) || (PhoneNumber.pristine && submitted)}"
                                                required />
                                            <span class="error_span" *ngIf="(PhoneNumber.dirty && PhoneNumber.invalid) || (PhoneNumber.pristine && submitted)">
                                                <span *ngIf="PhoneNumber.errors.required || (PhoneNumber.pristine && submitted)">Please
                                                    enter your phone number</span>
                                                <span *ngIf="PhoneNumber.errors && PhoneNumber.errors.pattern">Please
                                                    enter valid phone number</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                           
                    </div>
					</div>
					</div>

                </div>
            </div>
        </div>
        <div *ngIf="primary">
            <div id="main1" role="main">
                <section class="slider">
                    <div id="slider" class="flexslider">
                        <ul class="slides">
                            <li *ngFor="let que of questionList; let k=index; let i = index; let last = last">
                                <div class="que_section">
                                    <h1 class="que_title">Question {{i+1}}</h1>
                                    <p class="que_name"><span [innerHTML]="que.QuestionName"></span></p>
                                </div>
                                <div *ngIf="que.AnswerTypeId==3">
                                    <div class="ans_section">
                                        <div *ngFor="let ans of que.child; let j=index;">
                                            <label class="ans_name">{{ans.QLabel}}</label>
                                            <textarea class="form-control" #CAnswer="ngModel" [(ngModel)]="ans.CAnswer"
                                                name="CAnswer{{k}}{{j}}" maxlength="500" required></textarea>
                                            <div class="radio_box">
                                                <input type="radio" name="CAnswer{{k}}{{j}}" id="role{{k}}{{j}}" value="NA"
                                                    #CAnswer="ngModel" [(ngModel)]="ans.CAnswer" required />
                                                <label for="role{{k}}{{j}}">No </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="que.AnswerTypeId==2">
                                    <div class="ans_section">
                                        <div *ngFor="let ans of que.child; let j=index;let i=index; let firstAns=first; let last = last;">
                                            
											<div class="col-md-4 col-sm-4">
												<label class="ans_name">{{ans.QLabel}}</label>
												<input type="text" class="form-control" #CAnswer="ngModel" [(ngModel)]="ans.CAnswer"
													name="CAnswer{{k}}{{j}}" class="form-control" required />
												<div class="radio_box" [hidden]="firstAns">
													<input type="radio" name="CAnswer{{k}}{{j}}" id="role{{k}}{{j}}" value="NA"
														#CAnswer="ngModel" [(ngModel)]="ans.CAnswer" required />
													<label for="role{{k}}{{j}}">No </label>
												</div>
											</div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="que.AnswerTypeId==1">
                                    <div class="ans_section">
                                        <div class="radio_box" *ngFor="let ans of que.child; let j=index; let last=last;">
                                            <input type="radio" (change)="checked(k,j,ans.QValue,que.child.length)"
                                                [checked]="ans.CAnswer==ans.QValue" name="CAnswer{{k}}" id="role{{k}}{{j}}"
                                                value="{{ans.QValue}}" #CAnswer="ngModel" [(ngModel)]="ans.CAnswer"
                                                required />
                                            <label for="role{{k}}{{j}}" title="{{ans.QLabel}}">{{ans.QLabel}}</label>
                                        </div>
                                    </div>
                                </div>
								<div class="form-btn" *ngIf="last">
									<button type="submit" class="lgn_btn margin_top">
										<span>Submit</span>
									</button>
								</div>
                            </li>
                        </ul>
                    </div>
                    <div id="carousel" class="flexslider">
                        <ul class="slides">
                            <li *ngFor="let que of questionList; let k=index; let i = index">
                                <span>Q{{i+1}}</span>
                                <p>
                                    <i class="fa fa-quote-left" aria-hidden="true"></i>
									<!-- <span [innerHTML]="que.QuestionName" | slice:0:25></span> -->
									{{que.QuestionName | slice:3:25}}...
                                    <i class="fa fa-quote-right" aria-hidden="true"></i>
                                </p>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="clearfix"></div>
        <div class="col-md-12">
            <div class="form-btn">
                <div *ngIf="primary">
                    <button type="button" class="lgn_btn margin_top" (click)="pre()">
                        <span>Previous</span>
                    </button>
                </div>
                <div *ngIf="second1">
                    <button type="button" class="lgn_btn margin_top" (click)="pre1()">
                        <span>Previous</span>
                    </button>
                </div>
                <div *ngIf="first1">
                    <button type="button" class="lgn_btn margin_right" (click)="first(candidateForm)">
                        <span>Next</span>
                    </button>
                </div>
            </div>
            <br>
        </div>
    </form>
</div>
<!-- </div>
		</div>
	</div>
</div> -->
<div class="clearfix"></div>
<!-- End Inner Section -->