<!-- Inner Section -->
<div class="inner_banner">
    <img src="assets/images/inner_banner.jpg" alt="" class="img-responsive" />
  	<div class="innerbanner_text">HR QUESTIONNAIRE</div>
</div>
<div class="clearfix"></div>
<!-- End Inner Section --> 

<!-- Inner Section -->
<div class="inner_content">
  <div class="container ">
    <div class="row">
      <div class="col-md-12 col-sm-12">
          <div class="thankyou_block">
						<!-- <div class="col-md-6 col-sm-6">
							<img src="assets/images/thank-you.png" alt="Thank You" title="Thank You" class="img-responsive" />
						</div> -->
						<div class="col-md-10 col-sm-10 col-md-offset-1">
							<h3>Thank you for your submission.<span>We will review it and get back to you at our earliest.</span></h3>
						</div>
          </div>
          <div class="clearfix"></div>
          <div class="form-btn">
            <a href="http://www.theopeneyes.com/"><button type="submit" class="lgn_btn"><span>Visit our Website</span></button></a>
            <a routerLink=""><button type="submit" class="lgn_btn"><span>Close the Window</span></button></a>
          </div>
          </div>
        </div>
      </div>
</div>
<div class="clearfix"></div>
<!-- End Inner Section -->  
<div class="go_top"><i class="fa fa-angle-up" aria-hidden="true"></i></div>