<div class="inner_content">
    <div class="container">
        <div class="row">
            <!--  page header -->
            <div class="col-lg-12">
                <h1 class="text-center">Edit Profile</h1>
                <div class="separator text-center"><span class="dott"></span><span class="dott"></span><span class="dott"></span></div>
                <!-- <div class="btn-group pull-right add-right addpage_backbtn">
                    <a routerLink="/admin/candidate/list" class="lgn_btn">
                        Back
                    </a>
                </div> -->
                <div class="clearfix"></div>
            </div>
            <!-- end  page header -->
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="content-area">
                    <div id="main">
                        <!-- Form Elements -->
                        <div class="form-bg">
                            <form class="form-validate" role="form" #userForm="ngForm" (ngSubmit)="addUser(userForm)">
                                <div class="form-group col-md-4">
                                    <label><span class="required">*</span>First Name</label>
                                    <input type="text" class="form-control" #FirstName="ngModel" [(ngModel)]="userEntity.FirstName"
                                        class="form-control" name="FirstName" pattern="[a-zA-Z',&.$\ ]{2,100}"
                                        maxlength="100" [ngClass]="{red_border: (FirstName.dirty && FirstName.invalid) || (FirstName.pristine && submitted)}"
                                        required />
                                    <span class="error_span" *ngIf="(FirstName.dirty && FirstName.invalid) || (FirstName.pristine && submitted)">
                                        <span *ngIf="FirstName.errors.required || (FirstName.pristine && submitted)">Please
                                            enter your First Name </span>
                                        <span *ngIf="FirstName.errors && FirstName.errors.pattern">Please enter valid
                                            First Name</span>
                                    </span>
                                </div>
                                <div class="form-group col-md-4">
                                    <label><span class="required">*</span>Last Name</label>
                                    <input type="text" class="form-control" #LastName="ngModel" name="LastName"
                                        maxlength="100" [(ngModel)]="userEntity.LastName" [ngClass]="{red_border: (LastName.dirty && LastName.invalid) || (LastName.pristine && submitted)}"
                                        pattern="[a-zA-Z',&.$\ ]{2,100}" required />
                                    <span class="error_span" *ngIf="(LastName.dirty && LastName.invalid) || (LastName.pristine && submitted)">
                                        <span *ngIf="LastName.errors.required || (LastName.pristine && submitted)">Please
                                            enter your Last Name </span>
                                        <span *ngIf="LastName.errors && LastName.errors.pattern">Please
                                                enter valid Last Name</span>
                                    </span>
                                </div>
                                <div class="form-group col-md-4">
                                    <label><span class="required">*</span>Email Address</label>
                                    <input type="email" class="form-control" #EmailAddress="ngModel" name="EmailAddress"
                                        pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" [(ngModel)]="userEntity.EmailAddress"
                                        [ngClass]="{red_border: (EmailAddress.dirty && EmailAddress.invalid) || (EmailAddress.pristine && submitted)}"
                                        required />
                                    <span class="error_span" *ngIf="(EmailAddress.dirty && EmailAddress.invalid) || (EmailAddress.pristine && submitted)">
                                        <span *ngIf="EmailAddress.errors.required || (EmailAddress.pristine && submitted)">Please
                                            enter your Email Address </span>
                                    </span>
                                    <span class="error_span" *ngIf="EmailAddress.errors && EmailAddress.errors.pattern">
                                        Please enter valid Email Address
                                    </span>
                                </div>
                                <div class="clearfix"></div><div class="clearfix"></div>
                                <div class="col-lg-12 text-center">
                                    <button type="submit" class="lgn_btn"><span>Update</span></button>
                                </div>
                            </form>
                        </div>
                        <!-- End Form Elements -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="clearfix"></div>