<!-- Header Section -->
<header>
	
	<div class="container">
		<div class="row">
			<!-- Logo -->
			<div class="col-md-3 col-sm-2 col-xs-12">
				<div class="logo"> <a routerLink=""><img src="assets/images/OSSlogo.png" alt="OpenEyes Technologies" title="OpenEyes Technologies" class="img-responsive" /></a> </div>
			</div>
			<!-- End Logo -->

			<!-- Header Address -->
			<div class="col-md-9 col-sm-10 col-xs-12">
				<div class="header_address">
					<div class="address"><i class="fa fa-map-marker" aria-hidden="true"></i><span><strong>Suite #405, Iscon Atria 1,</strong><br>Gotri Road, Vadodara, GJ 390021</span></div>
					<div class="address"><i class="fa fa-mobile" aria-hidden="true"></i><span><strong>Call Us Now</strong><br><a href="tel:997.881.3937">997.881.EYES(3937)</a></span></div>
					<div class="address"><i class="fa fa-envelope-o" aria-hidden="true"></i><span><strong>Send Us Email</strong><br><a href="mailto:hr@theopeneyes.com">hr@theopeneyes.com</a></span></div>
				</div>
			</div>
			<!-- End Header Address -->
		</div>
		</div>
	
	<div class="clearfix"></div>
	
	
	

</header>
<div class="clearfix"></div>
<!-- End Header -->