<!-- Header Section -->
<header>
	
	<div class="container">
		<div class="row">
			<!-- Logo -->
			<div class="col-md-3 col-sm-2 col-xs-12">
				<div class="logo"> <a routerLink="/home"><img src="assets/images/logo.png" alt="OpenEyes Technologies" title="OpenEyes Technologies" class="img-responsive" /></a> </div>
			</div>
			<!-- End Logo -->

			<!-- Header Address -->
			<div class="col-md-9 col-sm-10 col-xs-12">
				<div class="header_address">
					<div class="address"><i class="fa fa-map-marker" aria-hidden="true"></i><span><strong>1629 K St NW #300 </strong><br>Washington DC 20006</span></div>
					<div class="address"><i class="fa fa-mobile" aria-hidden="true"></i><span><strong>Call Us Now</strong><br><a href="tel:703.957.9525">703.957.9525</a></span></div>
					<div class="address"><i class="fa fa-envelope-o" aria-hidden="true"></i><span><strong>Send Us Email</strong><br><a href="mailto:info@theopeneyes.com">info@theopeneyes.com</a></span></div>
				</div>
			</div>
			<!-- End Header Address -->
		</div>
		</div>
	
	<div class="clearfix"></div>
	
	
	

</header>
<div class="clearfix"></div>
<!-- End Header -->