<!-- <div class="alert alert-{{globals.type}}" role="alert" *ngIf="globals.msgflag">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
      {{globals.message}}
   </div> -->

<!-- Inner Section -->
<div class="inner_content">
  <div class="container ">

    <div class="row">

      <div class="col-md-12 col-sm-12">
        <div class="content-area">
          <div id="main">
            <div class="question_wrap">
              <div class="form-group">

                <br><br><br>
                <div class="form-btn">

                  <a routerLink="/admin/question/add"><button type="submit" class="lgn_btn"><span>Add Question</span></button></a>
                  <a routerLink="/admin/question/list"><button type="submit" class="lgn_btn"><span>View Question</span></button></a>
                  <a routerLink="/admin/position"><button type="submit" class="lgn_btn"><span>Add Job Position</span></button></a>
                  <a routerLink="/admin/position/list"><button type="submit" class="lgn_btn"><span>View Job Position</span></button></a>
                  <a routerLink="/admin/candidate/list"><button type="submit" class="lgn_btn"><span>Candidate Report</span></button></a>
                </div>
                <br><br><br>

              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>


    </div>

  </div>
</div>
<div class="clearfix"></div>
<!-- End Inner Section -->