<!-- Inner Section -->
<div class="inner_banner">
  <img src="assets/images/inner_banner.jpg" alt="" class="img-responsive" />
  <div class="innerbanner_text">HR QUESTIONNAIRE</div>
</div>
<div class="clearfix"></div>
<!-- End Inner Section -->

<!-- Inner Section -->
<div class="inner_content">
  <div class="container ">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="content-area">
          <div id="main">
            <div class="thankyou_block">
              <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
                <h3>Thank you for your submission.<span>We will review it and get back to you at our earliest.</span>
                </h3>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-btn">
          <a href="http://www.theopeneyes.com/" target="_blank"><button type="button" class="lgn_btn"><span>Visit our
                Website</span></button></a>
          <button type="button" class="lgn_btn" (click)="printQuestionnaire()"><span>Print your filled
              form</span></button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<!-- End Inner Section -->
<div class="go_top"><i class="fa fa-angle-up" aria-hidden="true"></i></div>

<!-- Print Div Start -->
<div id="printQuestionnaire" style="display:none">
  <!-- New Inner Section -->

  <table style="width:100%; margin: 10px auto 60px;">
    <tbody>
      <tr>
        <td style="text-align:left; width:50%; vertical-align: middle;">
          <img src="/assets/images/OSSlogo.png" style="height:150px; width: 150px">
        </td>
        <td style="text-align:right; width:50%;">
          <p style="font-size:17px; font-family: 'Titillium Web', sans-serif;color:#111;">
            <span style="font-size:25px; font-weight:600;">OpenEyes Software Solutions Pvt. Ltd (OPC)</span><br>
            <span style="font-size:20px; font-weight:600;">Corporate office</span><br>
            Suite #405, 4th Floor, Iscon Atria 1,<br>
            Gotri Road, Vadodara – 390021<br>
            Gujarat – India
          </p>
        </td>
      </tr>
    </tbody>
  </table>

  <h1 class="text-center"
    style="text-align: center;font-size: 45px;line-height: 35px;font-weight: 300;margin: 0 0 15px 0;color: #222;font-family: 'Titillium Web', sans-serif;text-transform: uppercase;">
    HR
    Questionnaire</h1>
  <div class="table-responsive" style="width: 1000px;margin: 30px auto;">
    <table class="table" style="width: 100%; margin:20px 0 0 0">
      <tbody>
        <tr>
          <td style="border: 1px solid #222;" colspan="2">
            <h1 class="text-center"
              style="text-align: center;font-size: 25px;line-height: 35px;font-weight: 300;margin: 5px 0;color: #222;font-family: 'Titillium Web', sans-serif;text-transform: uppercase;">
              Candidate
              Detail</h1>
          </td>
        </tr>
        <tr>
          <td>
            <p
              style="font-size: 16px;margin: 15px 0px 0px 0px;line-height: 25px;font-family: 'Titillium Web', sans-serif;color:#111;">
              Candidate Name:<strong> {{candidateEntity.FirstName}} {{candidateEntity.LastName}}</strong></p>
          </td>
          <td>
            <p
              style="font-size: 16px;margin: 15px 0px 0px 0px;line-height: 25px;font-family: 'Titillium Web', sans-serif;color: #111;">
              Applied for:<strong> {{candidateEntity.JobTitle}} </strong></p>
          </td>
        </tr>
        <tr>
          <td>
            <p
              style="font-size: 16px;margin: 0px 0px 0px 0px;line-height: 25px;font-family: 'Titillium Web', sans-serif;color: #111;">
              Email Address:<strong> {{candidateEntity.EmailAddress}} </strong></p>
          </td>
          <td>
            <p
              style="font-size: 16px;margin: 0px 0px 0px 0px;line-height: 25px;font-family: 'Titillium Web', sans-serif;color: #111;">
              Phone Number:<strong> {{candidateEntity.PhoneNumber}} </strong></p>
          </td>
        </tr>
        <tr>
          <td>
            <p
              style="font-size: 16px;margin: 0px 0px 0px 0px;line-height: 25px;font-family: 'Titillium Web', sans-serif;color: #111;">
              Gender:<strong> {{candidateEntity.Gender}} </strong></p>
          </td>
          <td>
            <p
              style="font-size: 16px;margin: 0px 0px 0px 0px;line-height: 25px;font-family: 'Titillium Web', sans-serif;color: #111;">
              Submitted Date:<strong> {{candidateEntity.CreatedOn | date: 'MM/dd/yyyy'}} </strong></p>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="table" style="width: 100%;">
      <tbody>
        <tr>
          <td style="border: 1px solid #222;">
            <h1 class="text-center"
              style="text-align: center;font-size: 25px;line-height: 35px;font-weight: 300;margin: 5px 0 ;color: #222;font-family: 'Titillium Web', sans-serif;text-transform: uppercase;">
              Questions</h1>
          </td>
        </tr>
        <div *ngFor="let question of questionEntity;  let i = index; let last = last;">
          <tr style="padding: 10px 0px;display: block;border-bottom:1px solid #222;">
            <td>
              <p
                style="font-size: 16px;margin: 0px 0px 0px 0px;line-height: 25px;font-family: 'Titillium Web', sans-serif;color: #111;">
                <strong> Question #{{i+1}} </strong> <br> <span [innerHTML]="question.QuestionText"></span></p>
              <!-- For Radio Button -->
              <div *ngIf="question.AnswerTypeId==1">
                <p
                  style="display:inline-block;line-height: 20px;color: #111;font-size: 14px;font-family: 'Titillium Web', sans-serif;font-weight: normal; margin:0px;margin-top:5px;">
                  Answer : <strong> {{question.objAnswer}} </strong> </p>
              </div>
              <!-- For Multiple Text Box -->
              <div *ngIf="question.AnswerTypeId==2">
                <div *ngFor="let ans of question.child;">
                  <p
                    style="display:inline-block;line-height: 20px;color: #111;font-size: 14px;font-family: 'Titillium Web', sans-serif;font-weight: normal; margin:0px;margin-top:5px;">
                    {{ans.PlaceholderText}} : <strong> {{ans.AnswerText}} </strong> </p>
                </div>
              </div>
              <!-- For Single Text Box -->
              <div *ngIf="question.AnswerTypeId==3">
                <div *ngFor="let ans of question.child;">
                  <p
                    style="display:inline-block;line-height: 20px;color: #111;font-size: 14px;font-family: 'Titillium Web', sans-serif;font-weight: normal; margin:0px;margin-top:5px;">
                    Answer : <strong> {{ans.AnswerText}} </strong> </p>
                </div>
              </div>
            </td>
          </tr>
        </div>
      </tbody>
    </table>
    <table class="table" style="width: 100%; margin:30px auto">
      <tbody>
        <tr>
          <td colspan="5" style="border: 1px solid #222;">
            <h1 class="text-center"
              style="text-align: center;font-size: 25px;line-height: 35px;font-weight: 300;margin: 5px 0;color: #222;font-family: 'Titillium Web', sans-serif;text-transform: uppercase;">
              Consent</h1>
          </td>
        </tr>
        <tr>
          <td colspan="5">
            <p
              style="display:inline-block;line-height: 20px;color: #111;font-size: 16px;font-family: 'Titillium Web', sans-serif;font-weight: normal; margin:20px 0px 80px 0px;">
              I
              hereby certify that the above statements are true and correct to the best of my knowledge. I understand
              that a false statement may disqualify me for the position at any time.</p>
          </td>
        </tr>
        <tr>
          <td width="15%"></td>
          <td width="25%" style="text-align:center; border-top: 1px #111 solid">
            <p
              style="display:inline-block;line-height: 15px;color: #111;font-size: 14px;font-family: 'Titillium Web', sans-serif;font-weight: normal; margin:0px;margin-top:10px;">
              {{candidateEntity.FirstName}} {{candidateEntity.LastName}}</p>
          </td>
          <td width="20%"></td>
          <td width="25%" style="text-align:center; border-top: 1px #111 solid;">
            <p
              style="display:inline-block;line-height: 15px;color: #111;font-size: 14px;font-family: 'Titillium Web', sans-serif;font-weight: normal; margin:0px;margin-top:10px;">
              Date</p>
          </td>
          <td width="15%"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- New End Inner Section -->
</div>
<!-- Print Div End -->