<div class="row">
  <div class="col-lg-12">

  
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTables-example">
            <thead>
              <tr>
                <th style="width:1%;">#</th>
              
                <th style="width:9%;">User Id</th>
                <th style="width:7%;">Module</th>
                <th style="width:9%;">Activity</th>
                <th style="width:5%;">CreatedON</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let activity of activityLogData; let i = index">
                  <td>{{i+1}}</td>
                  <td>{{activity.UserId}}</td>
                 <td>{{activity.Module}}</td>
                 <td>{{activity.Activity}}</td>
                 <td>{{activity.CreatedOn}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    
  </div>
</div>
