<body class="gradiant_body">
  <div class="height_100_box">
    <div class="col-md-4 col-sm-4 col-md-offset-4">
      <div class="all_outer_page">
        <header class="register_header">
          <div class="logo text-center">
            <a class="logo_text"><img alt="" class="img-responsive" src="assets/images/OSSlogo.png"></a>
          </div>
        </header>
        <div class="white_form_block">

          <div class="padding_box">
            <h1>Sign In</h1>
            <p class="padding_15">Enter your details to Sign In:</p>
            <div class="alert alert-{{globals.type}}" role="alert" *ngIf="globals.msgflag || invalid">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"> </button>
              {{globals.message}}
            </div>

            <div class="alert alert-danger" role="alert" *ngIf="invalid">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span>
              </button>
              Invalid username or password.
            </div>
            <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
              <div class="form-group">
                <label><span>*</span>Email Address </label>
                <input type="email" class="form-control" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
                  #EmailAddress="ngModel" [(ngModel)]="loginEntity.EmailAddress" name="EmailAddress" [ngClass]="{red_border: (EmailAddress.dirty && EmailAddress.invalid) || (EmailAddress.pristine && submitted)}"
                  required />
                <span class="error_span" *ngIf="(EmailAddress.dirty && EmailAddress.invalid) || (EmailAddress.pristine && submitted)">
                  <span *ngIf="EmailAddress.errors.required || (EmailAddress.pristine && submitted)">Please enter your
                    email</span>
                  <span *ngIf="EmailAddress.errors && EmailAddress.errors.pattern">
                    Please enter valid email
                  </span>
                </span>
              </div>
              <div class="clearfix"></div>
              <div class="form-group">
                <label><span>*</span>Password </label>
                <input type="password" class="form-control" #Password="ngModel" [(ngModel)]="loginEntity.Password" name="Password"
                  [ngClass]="{red_border: (Password.dirty && Password.invalid) || (Password.pristine && submitted)}"
                  required />
                <span class="error_span" *ngIf="(Password.dirty && Password.invalid) || (Password.pristine && submitted)">
                  <span *ngIf="Password.errors.required || (Password.pristine && submitted)">Please enter your password</span>

                </span>
              </div>
              <!-- <a href="#" class="pull-left forgot_paswd">Forgot Password ?</a> -->
              <button class="lgn_btn pull-right" type="submit"><span>Sign In</span></button>
            </form>
          </div>
          <div class="clearfix"></div>
          <div class="account_block">
            <!-- <p class="pull-left">DON'T HAVE AN ACCOUNT?</p><a href="#" class="pull-right rgstr_btn">Register</a> -->
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="clearfix"></div>
        <footer class="register_footer footer_fixed">
          <div class="col-md-12 col-sm-12 text-center">Copyrights &copy; 2018 <a href="http://www.theopeneyes.com/" target="_blank" title="">OpenEyes Software Solutions</a></div>
          <div class="clearfix"></div>
        </footer>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</body>